// ==========================================================================
// Btn
// ==========================================================================

.btn {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	transition: background-color var(--t-duration);
	line-height: 1;
	border: none;
	outline: none;
	font-weight: 500;
	padding: .6rem 1.4rem;
	border-radius: 4px;
	background-color: #1d364d;
	appearance: none;
	color: #fff;
	border: 1px solid #1d364d;


	@include hover {
		background-color: transparent;
		color: var(--c-white);
	}


	&.btn--large {
		min-width: 13.3rem;
	}

	&.btn--full {
		width: 100%;
	}
}

// Btn block
.btn--block {
	display: block;
	padding-inline: 0;
}
