// ==========================================================================
// Card Product
// ==========================================================================

.card-product {
    text-align: center;
    box-shadow: 0 0px 20px -5px rgb(0 0 0 / 0.4);
    border-radius: .4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4rem 0 0;

    .card__quantity {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        padding-top: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-weight: 500;
        border-radius: 50%;
        background-color: #1d364d;
        color: #fff;
    }

    .product-logo {
        max-width: 5rem;
        margin: 0 auto;
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .card__content {
        margin-top: auto;
    }
}