// ==========================================================================
// Grid
// ==========================================================================

.grid {
	display: flex;
	flex-flow: row wrap;
	--gap-x: 2.5rem;
	--gap-y: 2.5rem;
	margin-inline: calc(((var(--gap-x, 0px) / 2) * -1));
	margin: calc(var(--gap-y, 0px) / -2) calc(var(--gap-x, 0px) / -2);

	.grid__col {
		max-width: 100%;
		flex: 1;
		padding: calc(var(--gap-y, 0px) / 2) calc(var(--gap-x, 0px) / 2);
	}

	.grid__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;
	}

	.grid__col--1of3 {
		max-width: calc(100% / 3);
		flex: 0 0 calc(100% / 3);
	}

	.grid__col--1of4 {
		max-width: 25%;
		flex: 0 0 25%;
	}

	.grid__col--1of5 {
		max-width: 20%;
		flex: 0 0 20%;
	}
}
