// ==========================================================================
// Machine Balance
// ==========================================================================

.machine-balance {
    text-align: center;
    margin-bottom: 4rem;
}