// ==========================================================================
// Machine Balance
// ==========================================================================

.machine-balance {
    @include breakpoint-down(mobile) {
        text-align: center;
    }
}