// ==========================================================================
// Machine field
// ==========================================================================

.machine-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    @include breakpoint-down(mobile) {
        display: block;
    }
    
    label {
        font-weight: 700;
        font-size: 1.8rem;
    }

    input {
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
        padding: 0 10rem 0 .3rem;
        width: 100%;
        flex: 1;
        appearance: none;
        border-radius: 0;

        @include breakpoint-down(mobile) {
            padding: 0 8rem 0 0;
        }

        &::placeholder {
            opacity: .5;
        }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}