// ==========================================================================
// Section vending
// ==========================================================================

.section-vending {
    padding: 10rem 0 10rem;

    .section__head {
        text-align: center;
        margin-bottom: 13rem;
    }

}