// ==========================================================================
// Section vending
// ==========================================================================

.section-vending {
    padding: 10rem 0 10rem;

    @include breakpoint-down(mobile) {
        padding: 5rem 0;
    }

    .section__head {
        text-align: center;
        margin-bottom: 13rem;

        @include breakpoint-down(mobile) {
            margin-bottom: 5rem;
        }
    }

}