// ==========================================================================
// Vending machine
// ==========================================================================

.vending-machine {
    .vending-machine__balance {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        @include breakpoint-down(mobile) {
            display: block;
        }

        form {
            max-width: 40%;
            flex: 0 0 40%;

            @include breakpoint-down(tablet) {
                max-width: 60%;
                flex: 0 0 60%;
            }

            @include breakpoint-down(mobile) {
                max-width: 100%;
                flex: 0 0 100%;
                margin-top: 3rem;
            }

            .machine__money-info {
                font-size: 1.2rem;
                text-align: right;
                color: rgba($color: #000000, $alpha: .5);

                @include breakpoint-down(mobile) {
                    text-align: left;
                    font-size: 1.1rem;
                }
            }

            .btn {
                position: absolute;
                bottom: 2px;
                right: 0;
                border-radius: 0;

                @include breakpoint-down(mobile) {
                    bottom: 0;
                }
            }
        }
        
    }

    .vending-machine__foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;

        .btn {
            margin-left: auto;
        }
    }
}